{% extends 'main/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card shadow-lg border-0 rounded-4">
            <div class="card-header bg-white pt-4 text-center border-0">
                <h3 class="fw-bold-title">Edit Campaign</h3>
            </div>
            <div class="card-body p-4">
                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label class="small text-muted fw-bold">JUDUL CAMPAIGN (Tidak bisa diubah)</label>
                        {{ form.title }} 
                    </div>

                    <div class="mb-3">
                        <label class="small text-muted fw-bold">Link Gambar</label>
                        {{ form.image_url }}
                    </div>

                    <div class="mb-3">
                        <label class="small text-muted fw-bold">Batas Waktu</label>
                        {{ form.deadline }}
                    </div>

                    <div class="mb-4">
                        <label class="small text-muted fw-bold">Cerita / Deskripsi</label>
                        {{ form.description }}
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary fw-bold rounded-pill">
                            Simpan Perubahan
                        </button>
                        
                        <hr>
                        
                        <button type="submit" name="btn_end_campaign" class="btn btn-danger fw-bold rounded-pill" onclick="return confirm('Yakin mau menutup campaign ini? Data tidak akan tampil lagi di halaman utama.')">
                            <i class="bi bi-x-circle me-2"></i> End Campaign (Tutup Donasi)
                        </button>

                        <a href="{% url 'profile_dashboard' %}" class="btn btn-link text-muted text-decoration-none">Batal</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}